* {
    box-sizing: border-box;
    border-collapse: collapse;
}
/* TABLES */
table, tr, td {
    border: 1px solid black;
    
}
td {
    padding: 10px;
}


table.parameters {
    width: 100%;
}

table.endpoint {
    width: 100%;
}
table.endpoint:hover {
    background-color: yellow;
}
/* GENERAL STYLING */
code {
    display: block;
}

/* HTTP VERBS */
.get, .post {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.get::before {
    content: "get";
    color: green;
}

.post::before {
    content: "post";
    color: red;	
}
