@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

* {
	box-sizing: border-box;
	font-size: 16px;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

table {
    border: 2px solid black;
    width: 768px ;
}

td:first-child  { 
    width: 33.33%;
    background-color:  #F1F1F1;
    text-align: right;
    padding: 20px 20px 20px 20px;
}
td:last-child { 
    width: 66.67%;
}

textarea {
    border: 1;
    height: 100%;
    width: 100%;
    min-height: 100%;
    resize: vertical; 
}

input[type="text"] {
    width: 100%;
    height: 100%;
}	


/* READONLY FIELDS */
input[readonly], select[disabled] {
	background-color: white;
	border: 0;
	font-size: 22px;
	padding: 0px 10px 0px 10px;
	font-family: 'Shadows Into Light', cursive;
}

select[disabled]::-ms-expand {
    display: none;
}

select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}